<div id="<%= dom_id channel %>">
  <div class="my-2 <%= "font-bold" if channel == current_channel %> flex flex-row items-center justify-between relative">
    <%= link_to_channel(channel) %>
    <% if channel == current_channel %>
      <%= render "presence", channel: %>
    <% end %>
  </div>
</div>
