<div id="presence" title="People currently watching this channel" class="sticky inline-block opacity-80 hover:opacity-100 transition select-none top-0 left-1 rounded bg-lime-600 text-white p-1 px-2 font-semibold">
  👀 <%= [1, users.size].max %>
</div>
