<div class="self-end ml-4 rounded text-sm lg:text-base border p-2 mt-2 flex flex-col border-gray-300">
  <%= message.content %>
  <span data-role="author" class="self-end text-gray-400 text-xs lg:text-sm truncate mt-1"><%= message.author %></span>
</div>
