# Servers and hosts
WEB_HOST=192.0.2.10

PROXY_HOST=app.domain.com
WS_PROXY_HOST=websocket.domain.com

WS_NATS_CLUSTER_HOST=cluster-nats.domain.com
WS_NATS_HOST=another-nats.domain.com

WS_ALLOWED_ORIGINS="*.domain.com"

# Docker registry
KAMAL_REGISTRY_SERVER=registry.domain.com
KAMAL_REGISTRY_USERNAME=registry-username
KAMAL_REGISTRY_PASSWORD=registry-password

# docker build versions
RUBY_VERSION=3.3.6
ANYCABLE_SECRET="s3cЯeT"
