@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .user-button.u-rose {
    @apply border-rose-500 text-rose-500 hover:bg-rose-500;
  }
  .user-button.u-green {
    @apply border-green-500 text-green-500 hover:bg-green-500;
  }
  .user-button.u-purple {
    @apply border-purple-500 text-purple-500 hover:bg-purple-500;
  }
  .user-button.u-yellow {
    @apply border-yellow-500 text-yellow-500 hover:bg-yellow-500;
  }
  .user-button.u-pink {
    @apply border-pink-500 text-pink-500 hover:bg-pink-500;
  }
  .user-button.u-indigo {
    @apply border-indigo-500 text-indigo-500 hover:bg-indigo-500;
  }
  .user-button:hover {
    @apply text-white;
  }

  .message {
    @apply self-start ml-4 rounded text-sm lg:text-base border p-2 mt-2 flex flex-col border-gray-300 bg-white;
  }

  .message--author {
    @apply self-end text-gray-400 cursor-pointer hover:opacity-75 text-xs lg:text-sm truncate mt-1;
  }

  .message.mine {
    @apply self-end border-blue-400;
  }

  .message.mine .message--author {
    @apply hidden;
  }

  .message .online-indicator {
    @apply w-2 h-2 rounded-full hidden mr-1 bg-teal-300;
  }

  .message .online-indicator.online {
    @apply inline-block;
  }

  .online-indicator {
    @apply hidden;
  }

  .online-indicator.online {
    @apply inline-block;
  }

  turbo-presence-source {
    @apply hidden;
  }

  turbo-presence-source[connected] {
    @apply contents;
  }

  .channel-presence .channel-presence--list {
    @apply hidden;
  }

  .channel-presence[present] .channel-presence--list {
    @apply block;
  }

  .channel-presence[present] .channel-presence--icon {
    @apply text-teal-500;
  }
}

.field_with_errors {
  @apply contents;
}

@keyframes wiggleOut {
  0% {
    opacity: 100;
    transform: rotate(0deg);
  }
  25% {
    opacity: 100;
    transform: rotate(5deg);
  }
  50% {
    opacity: 100;
    transform: rotate(0deg);
  }
  75% {
    opacity: 75;
    transform: rotate(-5deg);
  }
  100% {
    opacity: 0;
    transform: rotate(0deg);
  }
}

/* ! */
.u-rose {
  @apply text-rose-500;
}

.u-green {
  @apply text-green-500;
}

.u-purple {
  @apply text-purple-500;
}

.u-yellow {
  @apply text-yellow-500;
}

.u-pink {
  @apply text-pink-500;
}

.u-indigo {
  @apply text-indigo-500;
}
/* end-! */
